events {}
stream {
  resolver 169.254.169.253;

  server {
    set $upstream_endpoint "${hostname}:${port}";

    listen 4;
    proxy_pass $upstream_endpoint;
  }

  server {
    set $upstream_endpoint "${hostname}:${port}";
    listen ${port} so_keepalive=10s:10s:3;
    proxy_pass $upstream_endpoint;
    proxy_timeout 60m;
    proxy_socket_keepalive on;
    proxy_half_close on;
  }
}